/* Fichier CSS principal */

:root {
	--color-primary: #f8cb74;
	--color-secondary: #e4b962;
	--color-tertiary: #face6a;
	--a-duration: 1s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
	font-size: 1rem;
	animation: bg-body var(--a-duration) ease 1;
}

@keyframes bg-body {
	0%, 60%, 75%, 90%, 100% {
		-webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
		animation-timing-function: cubic-bezier(.215,.61,.355,1);
	}
	0% {
		background-color: white;
	}
	60% {
		background-color: var(--color-secondary);
	}
	75% {
		background-color: var(--color-primary);
	}
	90% {
		background-color: var(--color-tertiary);
	}
	100% {
		background-color: var(--color-primary);
	}
}

* {
	text-transform: uppercase;
	color: black;
}

body {
	background-color: var(--color-primary);
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.1rem;
}

header.eyes {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.1rem;
	margin: 4rem 2rem;
	
}

/* START : BOX EYE */
.box-eye {
	display: flex;
	justify-content: center;
}

.box-eye:nth-child(1) {
	--start-translate: 50%;
	--a-multiplier: 1;
	animation: translate-o var(--a-duration) linear 1;
}

.box-eye:nth-child(3) {
	--start-translate: -50%;
	--a-multiplier: -1;
	animation: translate-o var(--a-duration) linear 1;
}

@keyframes translate-o {
	0%, 60%, 75%, 90%, 100% {
		-webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
		animation-timing-function: cubic-bezier(.215,.61,.355,1);
	}
	0% {
		transform: translateY(var(--start-translate));
		opacity: 0;
	}
	60% {
		transform: translateY(calc(-10px * var(--a-multiplier)));
		opacity: 1;
	}
	75% {
		transform: translateY(0);
	}
	90% {
		transform: translateY(calc(-3px * var(--a-multiplier)));
	}
	100% {
		transform: translateY(0);
	}
}

.box-eye > :not(.circle) {
	font-size: 5rem;
    line-height: .7em;
	align-self: center;
}

.box-eye .circle {
	position: relative;
	flex-basis: 100%;
	flex-grow: 1;
	background-color: white;
	border-radius: 50px;
	overflow: hidden;
	transform-origin: center;
	transform: scaleY(0);
	animation: blink calc(var(--a-duration) / 2) linear 1 1s forwards;
}

.box-eye:nth-child(3) .circle {
	animation-delay: calc(var(--a-duration) / 2 + 1s);
}

@keyframes blink {
	0%, 60%, 75%, 90%, 100% {
		-webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
		animation-timing-function: cubic-bezier(.215,.61,.355,1);
	}
	0% {
		transform: scaleY(0);
	}
	60% {
		transform: scaleY(120%);
	}
	75% {
		transform: scaleY(100%);
	}
	90% {
		transform: scaleY(106%);
	}
	100% {
		transform: scaleY(100%);
	}
}

.box-eye .circle .bg-circle {
	position: absolute;
	top: 50%;
	translate: 15% -50%;
	height: 100%;
	aspect-ratio: 1/1;
	background-color: black;
	border-radius: 50%;
	transition: transform 0.05s linear;
}
/* END : BOX EYE */

/* START: BOX SCROLL TEXT */
.box-scroll-text {
	background: black;
	border-radius: 50px;
	overflow: hidden;
	padding: 3px 0;
}

.box-scroll-text .scroll-text {
	text-wrap: nowrap;
}

.box-scroll-text .scroll-text span {
	display: inline-block;
	color: var(--color-secondary);
	letter-spacing: 4px;
	filter: blur(0.5px);
	animation: text-x 50s linear infinite reverse;
}

.box-scroll-text .scroll-text span:nth-child(1) {
	--start-x: 0;
	--end-x: 100%;
}

.box-scroll-text .scroll-text span:nth-child(2) {
	--start-x: -200%;
	--end-x: -100%;
}

@keyframes text-x {
	from {
		transform: translateX(var(--start-x));
	}
	to {
		transform: translateX(var(--end-x));
	}
}

.box-scroll-text{
	animation: translate-x var(--a-duration) linear 1;
}

@keyframes translate-x {
	0%, 60%, 75%, 90%, 100% {
		-webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
		animation-timing-function: cubic-bezier(.215,.61,.355,1);
	}
	0% {
		transform: translateX(-100%);
	}
	60% {
		transform: translateX(10%);
	}
	75% {
		transform: translateX(0);
	}
	90% {
		transform: translateX(3%);
	}
	100% {
		transform: translateX(0);
	}
}


/* END: BOX SCROLL TEXT */

/* START : NAV */
.nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.1rem;
}

.nav .nav-item {
	--translate-start: -50%;
	display: flex;
	flex-wrap: nowrap;
	opacity: 0;
}

.nav .nav-item:nth-child(1) {
	animation: translate-yb 0.3s linear 1 calc(var(--a-duration) + 1s) forwards;
}

.nav .nav-item:nth-child(2) {
	animation: translate-yb 0.3s linear 1 calc(var(--a-duration) + 1.3s) forwards;
}

.nav .nav-item:nth-child(3) {
	animation: translate-yb 0.3s linear 1 calc(var(--a-duration) + 1.6s) forwards;
}

.nav .nav-item > :not(.circle) {
	font-size: 4rem;
    line-height: .7em;
	align-self: center;
}

.nav .nav-item .circle {
	position: relative;
	height: 3rem;
	aspect-ratio: 1/1;
	background-color: black;
	border-radius: 50%;
	overflow: hidden;
}

.nav .nav-item .circle > * {
	position: absolute;
	top: -100%;
}

/* END : NAV */

/* START : LINKS */

.links {
	display: flex;
	justify-content: center;
	gap: 1.1rem;
}

.links a {
	--translate-start: -50%;
	width: 2rem;
	aspect-ratio: 1/1;
	text-decoration: none;
	color: white;
	opacity: 0;
	animation: translate-yb 0.3s linear 1 calc(var(--a-duration) + 1.9s) forwards;
}

@keyframes translate-yb {
	from {
		transform: translateY(var(--translate-start));
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.links a:hover img {
	filter: invert();
}

/* END : LINKS */

/* START : FOOTER */
footer {
	display: flex;
	justify-content: center;
}

footer p {
	font-size: .9rem;
	filter: blur(0.5px);
}

/* END : FOOTER */