/* Fichier CSS principal */

:root {
	--black: #1c1d1d;
	--gray: #f1f5f1;
	--light-steel-blue: #bcc5e2;
	--spink: #7b9f72;
	--white: #fafafa;
	--rosy-brown: #e3a9af;
	--grey: #8b9595;
	--slate-blue: #8a66e7;
	--thistle: #c2b3e6;
	--dark-slate-blue: rgba(28, 29, 29, 0.1);
	--bright: #95b3f0;
	--green-yellow: #c8ff00;
	--lavender: #f0f0fa;
	--duration-slow: 50s;
	--duration-mid: 0.3s;
	--duration-fast: 0.1s;
	--lenght-unit: 4px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	/* scroll-behavior: smooth; */
}

body {
	color: var(--black);
	background-color: #fff;
	font-family: Oakesgrotesk, sans-serif;
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.3;
}

p {
	font-size: 1.125rem;
	text-align: center;
}

a {
	text-decoration: none;
	color: var(--black);
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 2rem;
}

h1,
h2 {
	text-align: center;
}

h3 {
	font-size: 1.5rem;
}

/* START - HEADER */

header {
	display: flex;
	justify-content: space-around;
}

/* END - HEADER */

/* START - NAV */

nav.nav {
	display: flex;
	gap: 20px;
	justify-content: center;
	height: clamp(40px, 5vh, 50px);
	margin-top: 40px;
}

nav .nav-item {
	height: 100%;
	aspect-ratio: 1/1;
	position: relative;
}

nav .nav-item img {
	height: 100%;
	transition: opacity var(--duration-mid) linear;
	opacity: 1;
}

nav .nav-item span {
	opacity: 0;
	transition: opacity var(--duration-mid) linear;
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	font-size: 0.9rem;
}

nav .nav-item:hover span {
	opacity: 1;
}

nav .nav-item:hover img {
	opacity: 0;
}

/* END - NAV */

/* START - SECTION - MAIN */

.main {
	display: flex;
	flex-direction: column;
}

.main .container {
	padding: 0 5%;
}

.main .carousel {
	margin-top: calc(var(--lenght-unit) * 12);
}

/* END - SECTION - MAIN */

/* START - SECTION - WORK */

.work {
	--icon-url: url(../assets/nav_icons/work.svg);
	padding: 25% 5%;
	position: relative;
}

.work .projects-list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 3%;
	font-size: 2rem;
}

.work .projects-list a {
	padding: 10px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	position: relative;
}

.work .projects-list a img {
	position: absolute;
	aspect-ratio: 16/9;
	object-fit: cover;
	height: clamp(100%, 25vw, 500%);
	top: 50%;
	left: 50%;
	translate: 0 -50%;
	border-radius: 5px;
	z-index: 1;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	transform-origin: top right;
	opacity: 0;
	transform: rotate(-10deg) translateY(30%);
	transition: all calc(var(--duration-fast) * 3) ease-out;
}

.work .projects-list a:hover img {
	transform: rotate(0) translateY(0);
	opacity: 1;
}

.work .projects-list a span {
	opacity: 0.2;
	display: block;
	font-size: 3rem;
	font-weight: bolder;
	transition: opacity, transform var(--duration-mid);
}

.work .projects-list a:hover span {
	opacity: 1;
	transform: translateX(30px);
}

/* END - SECTION - WORK */

/* START - SECTION - ABOUT */

.about {
	--icon-url: url(../assets/nav_icons/skull_white.svg);
	background-color: var(--black);
	color: var(--white);
	padding: 20% 5%;
}

.about p {
	font-size: 3rem;
	font-weight: bold;
}

/* END - SECTION - ABOUT */

/* START - SECTION - SERVICES */

.services {
	--icon-url: url(../assets/nav_icons/target_white.svg);
	background-color: var(--slate-blue);
	padding: 20% 5%;
}

.services p,
.services h2 {
	color: var(--white);
}

.services p {
	margin-top: 3%;
}

.services .layout-grid {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.services .layout-grid .card {
	background-color: var(--dark-slate-blue);
	border-radius: 5px;
	padding: 5%;
	margin-top: 5%;
}

.services .layout-grid .card p {
	border-bottom: 2px solid var(--slate-blue);
	padding-bottom: 5%;
	text-align: left;
}

.services .layout-grid .card ul {
	list-style: none;
	margin-top: 5%;
}

.services .layout-grid .card li {
	margin-top: 2%;
	display: flex;
	align-items: center;
	gap: 20px;
}

.services .layout-grid .card li::before {
	content: "";
	display: block;
	background-image: url(../assets/icons/plus.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 1.5rem;
	aspect-ratio: 1/1;
}

.services .layout-grid .card button {
	margin-top: 3%;
}

/* END - SECTION - SERVICES */

/* START - SECTION - WEBFLOW */

.webflow {
	background-color: var(--black);
	padding: 5%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	flex-wrap: nowrap;
}

.webflow .content {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 20px;
}

.webflow .content h3 {
	font-size: 3rem;
}

.webflow .content p {
	text-align: left;
}

.webflow .content .images img {
	aspect-ratio: 16/9;
	object-fit: contain;
	max-width: 100%;
}

.webflow .aside {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.webflow .aside .speech {
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
	gap: 30px;
}

.webflow .aside .speech img {
	object-fit: contain;
	aspect-ratio: 1/1;
	height: 2.5rem;
}

.webflow .aside .speech div {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.webflow .aside .speech div p,
.webflow .aside .speech div h4 {
	text-align: left;
}

.webflow .content .images {
	position: relative;
}

#scroll_view {
	position: absolute;
	display: block;
	width: 100%;
	top: 0;
	left: 5%;
	translate: -50% 50%;
	animation-timeline: view(block 0 0);
	animation-name: view-scroll;
	animation-fill-mode: both;
	animation-timing-function: linear;
	animation-duration: 1ms;
	/* pour firefox animation */
}

@keyframes view-scroll {
	from {
		transform: translate(0);
	}
	to {
		transform: translate(10%, -30%);
	}
}

/* END - SECTION - WEBFLOW */

/* START - SECTION - CLIENTS */

.clients {
	--icon-url: url(../assets/nav_icons/clients.svg);
	padding: 25% 5%;
}

.comment {
	background-color: var(--gray);
	width: 50%;
	border-radius: 7px;
	aspect-ratio: 16/9;
	object-fit: cover;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	animation: slider-bis var(--duration-slow) linear infinite;
}

.clients .comment {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 4%;
	padding-left: 3%;
	gap: 10px;
}

.clients .comment p {
	text-align: left;
	font-size: 0.9rem;
}

.clients .comment div {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	gap: 20px;
}

.clients .comment div img {
	height: 3rem;
	object-fit: cover;
	aspect-ratio: 1/1;
	border-radius: 50%;
}

.clients .comment div div {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 2px;
}

.clients .comment div div h3,
.clients .comment div div span {
	font-size: 0.9rem;
	text-wrap: nowrap;
	font-weight: lighter;
}

.clients .comment div div h3 {
	font-weight: 500;
}

@keyframes slider-bis {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(6 * (-50% - 20px)));
	}
}

/* END - SECTION - CLIENTS */

/* START - SECTION - FAQ */

.faq {
	--icon-url: url(../assets/nav_icons/faq.svg);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 20px;
}

.faq .faq-list {
	padding: 5%;
}

.faq .faq-list .faq-accordation {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.faq .faq-list .faq-accordation h3 {
	font-weight: bolder;
	margin-bottom: 3%;
	cursor: pointer;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.faq .faq-list .faq-accordation p {
	text-align: left;
	font-weight: lighter;
	font-size: 0.9rem;
	will-change: height;
	height: 0;
	max-height: max-content;
	transition: all var(--duration-mid) ease-in-out;
}

.faq .faq-list .faq-accordation.toggle p{
	height: 100px;
	margin-bottom: 3%;
}

/* END - SECTION - FAQ */

/* START - FOOTER */

footer{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}

footer p{
	font-size: 0.8rem;
	font-weight: lighter;
}

/* END - FOOTER */



.plus {
	width: 1rem;
	/* height: 100%; */
	aspect-ratio: 1/1;
	position: relative;
}

.plus::before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	width: 100%;
	height: 1px;
	background-color: var(--grey);
	opacity: 0.5;
}
.plus::after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	width: 1px;
	height: 100%;
	background-color: var(--grey);
	opacity: 0.5;
	transition: transform var(--duration-mid) linear;
}

.toggle .plus::after{
	transform: rotate(90deg);
}

.icon::before {
	content: "";
	height: 3rem;
	aspect-ratio: 1/1;
	background-image: var(--icon-url);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	display: block;
	position: absolute;
	left: 50%;
	translate: -50% -100%;
}

.btn {
	border: none;
	background: none;
	cursor: pointer;
	position: relative;
}

.btn::after {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	transform: scaleX(0);
	height: 1.5px;
	background-color: var(--black);
	transition: transform var(--duration-fast) linear;
}

.btn:hover::after {
	transform: scaleX(1);
}

.btn.text-white::after {
	background-color: var(--white);
}

.carousel {
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
	gap: 20px;
	height: 30vh;
	padding: 5px 0;
}

.c-image {
	border-radius: 7px;
	aspect-ratio: 16/9;
	object-fit: cover;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	animation: slider var(--duration-slow) linear infinite;
}

@keyframes slider {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(8 * (-100% - 20px)));
	}
}

@media screen and (min-width: 990px) {
	.services .layout-grid {
		flex-direction: row;
	}

	.webflow {
		flex-direction: row;
		flex-wrap: nowrap;
	}

	.webflow .content img {
		max-width: 50%;
	}
}
